.rating_heading {
    color: black;
    animation: scale-up 1s ease;

}
.star_rating {
    user-select: none;
    padding: 0.4rem 1.5rem;
    margin: 1rem;
    border-radius: .2rem;
    text-align: center;
}

.star {
    font-size: 2rem;
    color: #ff9800;
    background-color: unset;
    border: none;
}

.star:hover {
    cursor: pointer;
}
article,
            aside,
            details,
            figcaption,
            figure,
            footer,
            header,
            main,
            menu,
            nav,
            section,
            summary {
                display: block;
            }

            a {
                background-color: transparent;
            }

            img {
                border-style: none;
            }

            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            button,
            [type='button'],
            [type='reset'],
            [type='submit'] {
                cursor: pointer;
            }

            

        

            h1,
            input {
                -ms-touch-action: manipulation;
                touch-action: manipulation;
            }

            b,
            strong {
                font-weight: bolder;
            }

            a {
                color: #334862;
                text-decoration: none;
            }

            input,
            select,
            textarea {
                font: inherit;
            }

            .quantity .minus,
            .quantity .plus {
                padding-left: 0.5em;
                padding-right: 0.5em;
            }

            input[type='submit'],
            input[type='submit'].button,
            input[type='reset'].button,
            input[type='button'].button {
                background-color: #446084;
                background-color: var(--primary-color);
                border-color: rgba(0, 0, 0, 0.05);
            }

            .is-form,
            button.is-form,
            input[type='submit'].is-form,
            input[type='reset'].is-form,
            input[type='button'].is-form {
                overflow: hidden;
                position: relative;
                background-color: #f9f9f9;
                color: #666;
                border: 1px solid #ddd;
                text-transform: none;
                font-weight: normal;
            }

            b,
            strong {
                font-weight: inherit;
            }

            body {
                margin: 0;
            }

            html {
                font-family: sans-serif;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
            }

            .product-main {
                padding: 40px 0;
            }

            #wrapper,
            #main {
                background-color: #fff;
                position: relative;
            }

            body {
                color: #777;
                scroll-behavior: smooth;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            body,
            .container,
            .full-width .ubermenu-nav,
            .container-width,
            .row {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            body {
                line-height: 1.6;
            }

            body {
                overflow-x: hidden;
            }

            body {
                font-family: "Roboto", sans-serif;
            }

            body {
                font-weight: 0;
            }

            body {
                color: #353535;
            }

            html {
                box-sizing: border-box;
                background-attachment: fixed;
            }

            html {
                overflow-x: hidden;
            }

            .absolute-footer,
            html {
                background-color: #5b5b5b;
            }

            html {
                overflow-x: hidden;
            }

            .absolute-footer,
            html {
                background-color: #000000;
            }

            :root {
                --primary-color: #c30005:;
            }

            .container-width,
            .full-width .ubermenu-nav,
            .container,
            .row {
                max-width: 1080px;
            }

            .row,
            .gallery {
                width: 100%;
                -js-display: flex;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
            }

            .mb-0 {
                margin-bottom: 0px !important;
            }

            .product-thumbnails {
                padding-top: 0px;
            }

            .full-width .ubermenu-nav,
            .container,
            .row {
                max-width: 1230px;
            }

            .container::after,
            .row::after,
            .clearfix::after,
            .clear::after {
                content: "";
                display: table;
                clear: both;
            }

            .col,
            .gallery-item,
            .columns {
                position: relative;
                margin: 0;
                padding: 0 15px 30px;
                width: 100%;
            }

            .small-12 {
                max-width: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }

            @media screen and (min-width:550px){
                .medium-6 {
                max-width: 50%;
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
            }
            }
            

            @media screen and (min-width:850px){
                 .large-6 {
                max-width: 50%;
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
            }
            }
           

            .product-gallery,
            .product-thumbnails .col {
                padding-bottom: 0px !important;
            }

            .col-fit {
                -ms-flex: 1;
                flex: 1;
            }

            .product-info {
                padding-top: 10px;
            }

            .mfp-hide {
                display: none !important;
            }

            .slider>div:not(.col),
            .slider>a,
            .slider>p,
            .slider>a>img,
            .slider>img {
                width: 100%;
            }

            .flickity-enabled.is-draggable .flickity-viewport {
                cursor: move;
                cursor: -webkit-grab;
                cursor: grab;
            }

            .row>div:not(.col):not([class^='col-']) {
                width: 100% !important;
            }

            .widget {
                margin-bottom: 1.5em;
            }

            .uppercase,
            h6,
            th,
            span.widget-title {
                line-height: 1.05;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            span.widget-title {
                font-size: 1em;
                font-weight: 600;
            }

            .is-divider {
                height: 3px;
                display: block;
                background-color: rgba(0, 0, 0, 0.1);
                margin: 1em 0 1em;
                width: 100%;
                max-width: 30px;
            }

            .widget .is-divider {
                margin-top: 0.66em;
            }

            #shop-sidebar .is-divider,
            #product-sidebar .is-divider,
            .post-sidebar .is-divider {
                margin-top: 0px;
                background-color: rgba(0, 0, 0, 0);
            }

            ul {
                list-style: disc;
            }

            ol,
            ul {
                margin-top: 0px;
                padding: 0;
            }

            form {
                margin-bottom: 0px;
            }

            figure {
                margin: 0;
            }

            pre,
            blockquote,
            form,
            figure,
            p,
            dl,
            ul,
            ol {
                margin-bottom: 1.3em;
            }

            .widget ul {
                margin: 0;
            }

            ul.product_list_widget {
                font-size: 14px;
            }

            .text-right {
                text-align: right;
            }

            #shop-sidebar ul,
            #product-sidebar ul,
            .post-sidebar ul {
                font-size: 14px;
                border: 1px solid #ddd;
                border-radius: 3px;
                padding: 15px;
                background-color: rgba(221, 221, 221, 0.1);
            }

            li {
                margin-bottom: 0.6em;
            }

            .widget li {
                list-style: none;
            }

            ul.menu>li,
            .widget>ul>li {
                list-style: none;
                margin-bottom: 0.3em;
                text-align: left;
                margin: 0;
            }

            ul.product_list_widget li {
                list-style: none;
                padding: 10px 0 5px 75px;
                min-height: 80px;
                position: relative;
                overflow: hidden;
                vertical-align: top;
                line-height: 1.33;
            }

            ul.menu>li::before,
            .widget>ul>li::before {
                font-family: "fl-icons";
                display: inline-block;
                opacity: 0.6;
                margin-right: 6px;
            }

            ul.menu>li+li,
            .widget>ul>li+li {
                border-top: 1px solid #ececec;
            }

            ul.product_list_widget li+li {
                border-top: 1px solid #ececec;
            }

            .nav-dropdown-has-arrow li.has-dropdown::after,
            .nav-dropdown-has-arrow li.has-dropdown::before {
                bottom: -2px;
                z-index: 10;
                opacity: 0;
                left: 50%;
                border: solid transparent;
                content: "";
                height: 0px;
                width: 0px;
                position: absolute;
                pointer-events: none;
            }

            .nav-dropdown-has-arrow li.has-dropdown::after {
                border-color: rgba(221, 221, 221, 0);
                border-bottom-color: #fff;
                border-width: 8px;
                margin-left: -8px;
            }

            .nav-dropdown-has-arrow li.has-dropdown::before {
                z-index: -999;
                border-bottom-color: #ddd;
                border-width: 11px;
                margin-left: -11px;
            }

            #shop-sidebar ul li+li,
            #product-sidebar ul li+li,
            .post-sidebar ul li+li {
                border-top: 1px dashed #ececec;
            }

            .align-top {
                -ms-flex-pack: start !important;
                justify-content: flex-start !important;
                -ms-flex-align: start !important;
                align-items: flex-start !important;
                -ms-flex-item-align: start !important;
                align-self: flex-start !important;
                vertical-align: top !important;
            }

            .flex-row {
                -js-display: flex;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 100%;
            }

            .pb-half {
                padding-bottom: 15px;
            }

            .pt-half {
                padding-top: 15px;
            }

            .recent-blog-posts {
                padding: 10px 0 10px;
            }

            .flex-col {
                max-height: 100%;
            }

            .mr-half {
                margin-right: 15px;
            }

            .flex-grow {
                -ms-flex: 1;
                flex: 1;
                -ms-flex-negative: 1;
                -ms-flex-preferred-size: auto !important;
            }

            .recent-blog-posts a {
                line-height: 1.2;
                display: block;
                margin-bottom: 6px;
            }

            #shop-sidebar .recent-blog-posts a,
            #product-sidebar .recent-blog-posts a,
            .post-sidebar .recent-blog-posts a {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                height: 2.6em;
                color: #444;
                padding-top: 0.2em;
            }

            .is-xsmall {
                font-size: 0.7em;
            }

            .block {
                display: block;
            }

            .op-7 {
                opacity: 0.7;
            }

            #shop-sidebar span.post_comments.op-7.block.is-xsmall,
            #product-sidebar span.post_comments.op-7.block.is-xsmall,
            #product-sidebar span.post_comments.oppercase.op-7.block.is-xsmall,
            .post-sidebar span.post_comments.op-7.block.is-xsmall {
                display: none;
            }

            .badge {
                display: table;
                z-index: 20;
                pointer-events: none;
                height: 2.8em;
                width: 2.8em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .badge-outline,
            .badge-circle {
                margin-left: -0.4em;
            }

            .widget .badge {
                margin: 0 !important;
            }

            .badge.post-date {
                top: 7%;
            }

            .badge-inner {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
                height: 100%;
                background-color: #446084;
                line-height: 0.85;
                color: #fff;
                font-weight: bolder;
                padding: 2px;
                white-space: nowrap;
                transition: background-color .3s, color .3s, border .3s;
            }

            .bg-fill {
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-position: 50% 50%;
            }

            .lowercase {
                text-transform: none !important;
            }

            .scroll-to-bullets a,
            .featured-title,
            .label-new.menu-item>a::after,
            .nav-pagination>li>.current,
            .nav-pagination>li>span:hover,
            .nav-pagination>li>a:hover,
            .has-hover:hover .badge-outline .badge-inner,
            button[type='submit'],
            :not(.checkout):not(.checkout-button).button.wc-forward,
            .button.submit-button,
            :not(.is-outline).button.primary,
            .featured-table .title,
            .is-outline:hover,
            .has-icon:hover .icon-label,
            .nav-dropdown-bold .nav-column li>a:hover,
            .nav-dropdown.nav-dropdown-bold>li>a:hover,
            .nav-dropdown-bold.dark .nav-column li>a:hover,
            .nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
            .is-outline:hover,
            .tagcloud a:hover,
            .grid-tools a,
            input[type='submit']:not(.is-form),
            .box-badge:hover .box-text,
            input.button.alt,
            .nav-box>li>a:hover,
            .nav-box>li.active>a,
            .nav-pills>li.active>a,
            .current-dropdown .cart-icon strong,
            .cart-icon:hover strong,
            .nav-line-bottom>li>a::before,
            .nav-line-grow>li>a::before,
            .nav-line>li>a::before,
            .banner,
            .header-top,
            .slider-nav-circle .flickity-prev-next-button:hover svg,
            .slider-nav-circle .flickity-prev-next-button:hover .arrow,
            .primary.is-outline:hover,
            :not(.is-outline).button.primary,
            input[type='submit'].primary,
            input[type='submit'].primary,
            input[type='reset'].button,
            input[type='button'].primary,
            .badge-inner {
                background-color: #c30005;
            }

            .badge-circle-inside .badge-inner,
            .badge-circle .badge-inner {
                border-radius: 999px;
            }

            ul.menu>li>a,
            ul.menu>li>span:first-child,
            .widget>ul>li>a,
            .widget>ul>li>span:first-child {
                display: inline-block;
                padding: 6px 0;
                -ms-flex: 1;
                flex: 1;
            }

            ul.product_list_widget li a:not(.remove) {
                display: block;
                margin-bottom: 5px;
                padding: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.3;
            }

            #shop-sidebar ul.product_list_widget li h1:not(.remove),
            #product-sidebar ul.product_list_widget li h1:not(.remove) {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                height: 2.6em;
            }

            span.amount {
                white-space: nowrap;
                color: #111;
                font-weight: bold;
            }

            img {
                max-width: 100%;
                height: auto;
                display: inline-block;
                vertical-align: middle;
            }

            img {
                transition: opacity 1s;
                opacity: 1;
            }

            ul.product_list_widget li img {
                top: 10px;
                position: absolute;
                left: 0px;
                width: 60px;
                height: 60px;
                margin-bottom: 5px;
                object-fit: cover;
                object-position: 50% 50%;
            }

            .nav-right {
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .is-small,
            .is-small.button {
                font-size: 0.8em;
            }

            #product-sidebar .next-prev-thumbs {
                margin: -.5em 0 3em;
            }

            .next-prev-thumbs li {
                position: relative;
                display: inline-block;
                margin: 0 1px 0 !important;
            }

            .entry-content ol li,
            .entry-summary ol li,
            .col-inner ol li,
            .entry-content ul li,
            .entry-summary ul li,
            .col-inner ul li {
                margin-left: 1.3em;
            }

            .quantity input {
                padding-left: 0px;
                padding-right: 0px;
                display: inline-block;
                vertical-align: top;
                margin: 0;
            }

            input[type='submit'],
            input[type='submit'].button,
            input[type='submit'],
            .primary {
                background-color: #446084;
            }

            .circle {
                border-radius: 999px !important;
                object-fit: cover;
            }

            .button.is-outline {
                line-height: 2.19em;
            }

            .button.is-outline,
            input[type='submit'].is-outline,
            input[type='reset'].is-outline,
            input[type='button'].is-outline {
                border: 2px solid currentColor;
                background-color: transparent;
            }

            .button.icon {
                margin-left: 0.12em;
                margin-right: 0.12em;
                min-width: 2.5em;
                padding-left: 0.6em;
                padding-right: 0.6em;
                display: inline-block;
            }

            .next-prev-thumbs li .button {
                margin-bottom: 0px;
            }

            .text-right :last-of-type.button,
            .text-center :last-of-type.button {
                margin-right: 0px !important;
            }

            .image-tools a.button {
                display: block;
            }

            .button.icon.circle {
                padding-left: 0px;
                padding-right: 0px;
            }

            .nav-dropdown {
                position: absolute;
                min-width: 260px;
                max-height: 0px;
                z-index: 9;
                padding: 20px 0 20px;
                opacity: 0;
                margin: 0;
                transition: opacity .25s;
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
                border: 2px solid #ddd;
                color: #777;
                background-color: #fff;
                text-align: left;
                display: table;
                left: -99999px;
            }

            .nav-dropdown {
                border-radius: 3px;
            }

            .nav-dropdown {
                font-size: 100%;
            }

            .nav-dropdown::after {
                visibility: hidden;
                display: block;
                content: "";
                clear: both;
                height: 0px;
            }

            .next-prev-thumbs .nav-dropdown {
                padding: 2px;
                width: 90px;
                min-width: 90px;
            }

            .links>li>a::before,
            i[class^='icon-'],
            i[class*=' icon-'] {
                font-family: "fl-icons" !important;
                speak: none !important;
                margin: 0;
                padding: 0;
                display: inline-block;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                position: relative;
                line-height: 1.2;
            }

            button i,
            .button i {
                vertical-align: middle;
                top: -1.5px;
            }

            .icon-angle-right::before {
                content: "\f105";
            }

            .icon-angle-left::before {
                content: "\f104";
            }

            .icon-expand::before {
                content: "\e015";
            }

            .button.icon i {
                font-size: 1.2em;
            }

            .button.icon.circle>i {
                margin: 0 8px;
            }

            .button.icon.circle>i:only-child {
                margin: 0;
            }

            .breadcrumbs {
                text-transform: uppercase;
                color: #222;
                font-weight: bold;
                letter-spacing: 0px;
                padding: 0;
            }

            .product-info .breadcrumbs {
                font-size: 0.85em;
                margin: 0 0 .5em;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #555;
                width: 100%;
                margin-top: 0px;
                margin-bottom: 0.5em;
                text-rendering: optimizeSpeed;
            }

            .h1,
            h1 {
                font-size: 1.7em;
                line-height: 1.3;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .heading-font,
            .off-canvas-center .nav-sidebar.nav-vertical>li>a {
                font-family: "Roboto", sans-serif;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .heading-font,
            .banner h1,
            .banner h2 {
                font-weight: 700;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .heading-font {
                color: #1c1c1c;
            }

            @media all and (min-width:850px){
                 [data-show='show-for-medium'],
            .show-for-medium {
                display: none !important;
            }
            }
           

            .price-wrapper {
                display: table;
            }

            .product-summary .price-wrapper {
                margin-bottom: 1em;
            }

            .row.row-small {
                max-width: 1065px;
            }

            .woocommerce-product-gallery figure {
                margin: 0;
            }

            .flickity-enabled.is-draggable {
                -webkit-tap-highlight-color: transparent;
                tap-highlight-color: transparent;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .row.row-small {
                max-width: 1222.5px;
            }

            .row .gallery,
            .row :not(.row-collapse).row,
            .container :not(.row-collapse).row,
            .lightbox-content :not(.row-collapse).row {
                padding-left: 0px;
                padding-right: 0px;
                margin-left: -15px;
                margin-right: -15px;
                width: auto;
            }

            .row :not(.row-collapse).row-small,
            .container :not(.row-collapse).row-small {
                margin-left: -10px;
                margin-right: -10px;
                margin-bottom: 0px;
            }

            .product_meta {
                font-size: 0.8em;
                margin-bottom: 1em;
            }

            .product_meta>span {
                display: block;
                border-top: 1px dotted #ddd;
                padding: 5px 0;
            }

            @media screen and (min-width:850px){
                     .large-12 {
                max-width: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
            }
       

            .flickity-viewport .col.is-selected {
                height: 100%;
            }

            .small-columns-4>.col,
            .small-columns-4 .flickity-slider>.col {
                max-width: 25%;
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
            }

            .row-small>.flickity-viewport>.flickity-slider>.col,
            .row-small>.col {
                padding: 0 9.8px 19.6px;
                margin-bottom: 0px;
            }

            .col-inner {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                background-position: 50% 50%;
                background-size: cover;
                background-repeat: no-repeat;
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
            }

            @media screen and (min-width:850px){
                :first-child.col .col-inner {
                                margin-left: auto;
                                margin-right: 0px;
                            }
            }
            

            @media screen and (min-width:850px){
                .col+.col .col-inner {
                                margin-right: auto;
                                margin-left: 0px;
                            }

            }
           
            p {
                margin-top: 0px;
            }

            .button span {
                display: inline-block;
                line-height: 1.6;
            }

            .row :not(.row-collapse).row-xsmall,
            .container :not(.row-collapse).row-xsmall {
                margin-left: -2px;
                margin-right: -2px;
                margin-bottom: 0px;
            }

         

            @media screen and (min-width:850px){
                 .gallery-columns-3 .gallery-item,
            .large-columns-3>.col,
            .large-columns-3 .flickity-slider>.col {
                max-width: 33.33%;
                -ms-flex-preferred-size: 33.33%;
                flex-basis: 33.33%;
            }
            }
           

            .row-xsmall>.flickity-viewport>.flickity-slider>.col,
            .row-xsmall>.col {
                padding: 0 2px 3px;
                margin-bottom: 0px;
            }

            .box {
                width: 100%;
                position: relative;
                margin: 0 auto;
            }

            .box,
            .box-image,
            .box-text {
                transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
            }

            p:empty {
                display: none;
            }

            .box-text p {
                margin-top: 0.1em;
                margin-bottom: 0.1em;
            }

            .dark,
            .dark p,
            .dark td {
                color: #f1f1f1;
            }

            .box-image {
                position: relative;
                height: auto;
                margin: 0 auto;
                overflow: hidden;
            }

            .box-overlay .box-image {
                -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
            }

            .box-text {
                padding-top: 0.7em;
                padding-bottom: 1.4em;
                position: relative;
                width: 100%;
                font-size: 0.9em;
            }

            .text-left {
                text-align: left;
            }

            .box-overlay .box-text,
            .box-shade .box-text {
                position: absolute;
                width: 100%;
                max-height: 100%;
                bottom: 0px;
                padding-left: 1.5em;
                padding-right: 1.5em;
            }

            .box-overlay.dark .box-text,
            .box-shade.dark .box-text {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

            .box-image img {
                max-width: 100%;
                width: 100%;
                transform: translateZ(0px);
                margin: 0 auto;
            }

            .overlay {
                position: absolute;
                top: 0px;
                bottom: 0px;
                height: 100%;
                left: -1px;
                right: -1px;
                background-color: rgba(0, 0, 0, 0.15);
                transition: transform .3s, opacity .6s;
                pointer-events: none;
            }

            .fill {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                right: 0px;
                bottom: 0px;
                padding: 0 !important;
                margin: 0 !important;
            }

            .text-center .quantity,
            .quantity {
                opacity: 1;
                display: inline-block;
                display: -ms-inline-flexbox;
                display: inline-flex;
                margin-right: 1em;
                white-space: nowrap;
                vertical-align: top;
            }

            .product-summary .quantity {
                margin-bottom: 1em;
            }

            .secondary,
            .checkout-button,
            .button.checkout,
            .button.alt {
                background-color: #d26e4b;
            }

            .quantity+.button {
                margin-right: 0px;
                font-size: 1em;
            }

            input[type='email'],
            input[type='search'],
            input[type='number'],
            input[type='url'],
            input[type='tel'],
            input[type='text'],
            textarea {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            .mfp-content .product-lightbox-inner .quantity .minus,
            #wrapper .quantity .minus {
                border-right: 0 !important;
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
            }

            label,
            legend {
                font-weight: bold;
                display: block;
                font-size: 0.9em;
                margin-bottom: 0.4em;
            }

            label {
                color: #222;
            }

            .screen-reader-text {
                clip: rect(1px, 1px, 1px, 1px);
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
            }

            input[type='email'],
            input[type='date'],
            input[type='search'],
            input[type='number'],
            input[type='text'],
            input[type='tel'],
            input[type='url'],
            input[type='password'],
            textarea,
            select,
            .select-resize-ghost,
            .select2-container .select2-choice,
            .select2-container .select2-selection {
                box-sizing: border-box;
                border: 1px solid #ddd;
                padding: 0 .75em;
                height: 2.5em;
                font-size: 0.97em;
                border-radius: 0;
                max-width: 100%;
                width: 100%;
                vertical-align: middle;
                background-color: #fff;
                box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
                transition: color .3s, border .3s, background .3s, opacity .3s;
            }

            .quantity input[type='number'] {
                max-width: 2.5em;
                width: 2.5em;
                text-align: center;
                border-radius: 0 !important;
                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                appearance: textfield;
                font-size: 1em;
            }

            .mfp-content .product-lightbox-inner .quantity .plus,
            #wrapper .quantity .plus {
                border-left: 0 !important;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
            }

            .price {
                line-height: 1;
            }

            .product-info .price {
                font-size: 1.5em;
                margin: .5em 0;
                font-weight: bolder;
            }

            .price-wrapper .price {
                display: block;
            }

            .price-wrapper .price {
                height: 1.3em;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                line-height: 120%;
            }

            .product-summary .woocommerce-Price-currencySymbol {
                font-size: 0.75em;
                vertical-align: top;
                display: inline-block;
                margin-top: 0.05em;
            }

            .breadcrumbs a {
                color: rgba(102, 102, 102, 0.7);
                font-weight: normal;
            }

            .breadcrumbs a:first-of-type {
                margin-left: 0px;
            }

            .breadcrumbs .divider {
                position: relative;
                top: 0px;
                opacity: 0.35;
                margin: 0 .3em;
                font-weight: 300;
            }

            .flickity-enabled {
                position: relative;
            }

            .mb-half {
                margin-bottom: 15px;
            }

            .relative {
                position: relative !important;
            }
            .related-products-wrapper .product-small.box {
                background-color: #fff;
                border: 2px solid #ddd;
            }
            article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
                display: block;
            }
            
            th, td {
                padding: .5em;
                text-align: left;
                border-bottom: 1px solid #ececec;
                line-height: 1.3;
                font-size: 0.9em;
            }
           
            
            .row :not(.row-collapse).row-small, .container :not(.row-collapse).row-small {
                margin-left: -10px;
                margin-right: -10px;
                margin-bottom: 0px;
            }
            .flickity-viewport {
                overflow: hidden;
                position: relative;
                height: 100%;
                width: 100%;
            }
            .slider > div:not(.col), .slider > a, .slider > p, .slider > a > img, .slider > img {
                width: 100%;
            }
            .row > div:not(.col):not([class^='col-']) {
                width: 100% !important;
            }
            .button.disabled, button.disabled, [disabled].button, button[disabled] {
                opacity: 0.6;
            }
            .flickity-prev-next-button.previous {
                -ms-transform: translateX(20%);
                transform: translateX(20%);
                left: 2%;
            }
            .slider-nav-reveal .flickity-prev-next-button:hover, .slider-nav-reveal .flickity-prev-next-button {
                width: 30px;
                top: -2px;
                bottom: 0px;
                height: 100%;
                background-color: #fff;
                box-shadow: 0px -150px 15px 0px rgba(0,0,0,0.3);
                margin: 0 !important;
            }
            .slider-nav-reveal .flickity-prev-next-button:hover, .slider-nav-reveal .flickity-prev-next-button {
                width: 30px;
                top: -2px;
                bottom: 0px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0);
                box-shadow: 0px -150px 15px 0px rgba(0,0,0,0);
                margin: 0 !important;
            }
            .flickity-prev-next-button.next {
                -ms-transform: translateX(-20%);
                transform: translateX(-20%);
                right: 2%;
            }
      
            .slider-nav-reveal .flickity-prev-next-button.next {
                -ms-transform: translateX(10%);
                transform: translateX(10%);
                left: auto !important;
                right: -1px !important;
            }
            svg:not(:root) {
                overflow: hidden;
            }
            .flickity-prev-next-button svg {
                position: absolute;
                padding: 5px;
                left: 50%;
                top: 50%;
                width: 100%;
                max-width: 100%;
                padding: 20%;
                max-height: 100%;
                height: auto;
                transition: all 0.3s;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .flickity-prev-next-button svg, .flickity-prev-next-button .arrow {
                border-color: currentColor;
                fill: currentColor;
                transition: all 0.3s;
            }
            .slider-nav-push.slider-nav-reveal .flickity-prev-next-button svg {
                margin-top: -40px;
            }
            .flickity-slider {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .col, .gallery-item, .columns {
                position: relative;
                margin: 0;
                padding: 0 15px 30px;
                width: 100%;
            }
            .small-columns-2 > .col, .small-columns-2 .flickity-slider > .col {
                max-width: 50%;
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
            }
            @media screen and (min-width:550px){
                .medium-columns-3 > .col, .medium-columns-3 .flickity-slider > .col {
                max-width: 33.33%;
                -ms-flex-preferred-size: 33.33%;
                flex-basis: 33.33%;
            }
            }
            
            @media screen and (min-width:850px){
                .gallery-columns-5 .gallery-item, .large-columns-5 > .col, .large-columns-5 .flickity-slider > .col {
                                max-width: 20%;
                                -ms-flex-preferred-size: 20%;
                                flex-basis: 20%;
                            }
            }
            
            .flickity-viewport .col.is-selected {
                height: 100%;
            }
           
            @media screen and (min-width:850px){
.tab-panels :not(.active).panel {
                zoom: 1;
                float: "left";
                visibility: hidden;
                height: 0px;
                padding: 0;
                display: block;
                overflow: hidden;
                opacity: 0;
            }
            }
        
            
            @media screen and (min-width:850px){
                 .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong::after, .cart-icon strong, .blockUI::before, .processing::before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
                border-color: #c30005;
            }
            }
           
           
            @media all and (min-width:850px){
                 .comment-form {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                margin-left: -15px;
                margin-right: -15px;
            }
            }
           
            @media all and (min-width:850px){
                  .comment-form > div {
                padding: 0 15px;
                width: 100%;
            }
            }
          
            form p {
                margin-bottom: 0.5em;
            }
            @media all and (min-width:850px){
                    .comment-form > p {
                padding: 0 15px;
                width: 100%;
            }
            }
        
            @media all and (min-width:850px){
                 .comment-form p.comment-form-author, .comment-form p.comment-form-email, .comment-form p.comment-form-url {
                -ms-flex: 1;
                flex: 1;
            }
            }
           
            label, legend {
                font-weight: bold;
                display: block;
                font-size: 0.9em;
                margin-bottom: 0.4em;
            }
            .stars a.star-2::after {
                content: "\e005\e005";
            }
            .stars a.star-3::after {
                content: "\e005\e005\e005";
            }
            .stars a.star-4::after {
                content: "\e005\e005\e005\e005";
            }
            .stars a.star-5::after {
                content: "\e005\e005\e005\e005\e005";
            }
            table {
                width: 100%;
                margin-bottom: 1em;
                border-color: #ececec;
                border-spacing: 0;
            }
            th:first-child, td:first-child {
                padding-left: 0px;
            }
            td {
                color: #666;
            }
            th:last-child, td:last-child {
                padding-right: 0px;
            }
            td label, td .label, td input, td select, td form, td dl, td p {
                margin: .5em 0;
            }
            li {
                margin-bottom: 0.6em;
            }
            .nav > li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                margin: 0 7px;
                transition: background-color .3s;
            }
            .nav-box > li, .nav-tabs > li, .nav-outline > li, .nav-pills > li {
                margin: 0;
            }
            .nav li:first-child {
                margin-left: 0px !important;
            }
            .nav li:last-child {
                margin-right: 0px !important;
            }
            .tabbed-content .nav-tabs > li {
                margin: 0 .1em;
                margin-bottom: -1px;
            }
            .nav > li > a {
                padding: 10px 0;
                display: inline-block;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-align: center;
                align-items: center;
            }
            .nav > li > a, .nav-dropdown > li > a, .nav-column > li > a {
                color: rgba(102, 102, 102, 0.85);
                transition: all .2s;
            }
            .nav-uppercase > li > a {
                letter-spacing: 0.02em;
                text-transform: uppercase;
                font-weight: bolder;
            }
            .nav-tabs > li > a {
                border-top: 2px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                background-color: rgba(0,0,0,0.04);
                padding-left: 15px;
                padding-right: 15px;
            }
            .nav > li > a {
                font-size: 0.8em;
            }
            .nav > li > a {
                font-family: "Roboto", sans-serif;
            }
            .nav > li > a {
                font-weight: 700;
            }
            .nav > li > a:hover, .nav > li.active > a, .nav > li.current > a, .nav > li > a.active, .nav > li > a.current, .nav-dropdown li.active > a, .nav-column li.active > a, .nav-dropdown > li > a:hover, .nav-column li > a:hover {
                color: rgba(17, 17, 17, 0.85);
            }
           
            .nav-tabs > li.active > a {
                border-top-color: #446084;
            }
            .nav-tabs > li.active > a {
                border-top-color: #c30005;
            }

.main2{
    height: 50%;
    margin-bottom: 23px;
    position: relative;
}
.list-image{
    width: 70%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}
.list-image div{
    flex: 1;
}
img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}
.control{
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: black;
    transform: translateY(-50%)
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
